@import "../../app.scss";

.navbar {
  height: 100vh;
  background:  url("/banner.png");
  background-size: cover; 
  background-position: center;
  position: relative;
  z-index: 1;

  .wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }
  }

  span {
    font-weight: bold;

    @include mobile {
      display: none;
    }
  }

  .social {
    display: flex;
    gap: 40px;


    img {
      width: 40px;
      height: 40px;
    }
  }
}